*{
    margin: 0;
    padding: 0;
}
 body{font-family: 'Lato', sans-serif;

 }
 .primary-color{
    color: #E55473;
 }


.banner-title{
    font-size: 80px;
font-style: normal;
font-weight: 800;
 
}
.btn-primary{
    color: #FFF;

font-size: 20px;

font-weight: 700;
line-height: normal;
   border-radius: 8px;
background: #E55473;
padding: 20px 43px;
gap: 10px;
border: none;

}
.banner{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    padding: 50px 240px 0 240px;
    text-align: center;
    justify-content: space-between;
}
.banner-pragraph{
    color: rgba(39, 39, 39, 0.60);

font-size: 18px;

font-weight: 400;

}
.banner-img{
   
margin-top:50px 240px 0 0 ;
}
.banner .banner-img{
    width:635px ;
    

}
.banner-content{
    padding-right: 97px;
    width: 708px;
    text-align: left;
    
}
.featured-section{
    
    text-align: center;
    margin: 0 auto;
    width: 594px;
   margin-top: 178px;
   margin-bottom: 48px;
   
   
    
    
}
.featured-heading{
    color: #272727;
    


font-size: 40px;

font-weight: 800;


}
.featured-pera{
   color: rgba(39, 39, 39, 0.60);

font-size: 18px;

font-weight: 400;


}

.featured-section-flower{
    width: 80%;
    margin: auto;
}


.featured-section-all-flower{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    
    
}


.flower-left{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 80px 0px 80px;
    border: none;
   
   


}
.flower-middle{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding: 110px 60px 0px 60px;
    border: none;
}
.flower-right{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding: 110px 80px 0px 80px;
    border: none;
}
 
.feature-link{
    display: flex;
    justify-content: space-around;
    margin-bottom: 128px;
    margin-top: 32px;
    
    
}
.feature-link li{
    list-style: none;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: 0px 240px;
}
 .deal-container{
     display: flex;
     justify-content: space-around;
     align-items: center;
     border-radius: 8px;
     border: none;
     background: rgba(229, 84, 115, 0.05);


 }
 .deal{
    padding-left: 300px;    
}
.deal-title{
    color: #272727;
    
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
   

}
.deal-description{

    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 400;

}
.deal-button{
    margin-left: 170px;
    margin-top: 32px;
}

.deal-image{
    padding: 100px 430px 100px 185px;
}

.instra{
    color: #272727;
text-align: center;

font-size: 40px;

font-weight: 800;
margin-bottom: 0px;
margin-top: 128px;

}
.instra-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;

font-weight: 400;
margin-top: 24px;
margin-bottom: 48px;


}
.image-section{
    display: flex;
    justify-content: space-around;
    margin: 0px 177px 128px 177px;
    gap: 20px;
    
}
.latest-deals{ 
    background-image: url('../Rectangle\ 9.png');
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    margin: auto;

}
.latest-title{ 
    color: #272727;
    text-align: center;
    font-weight: 800;
    padding-top: 120px;
    font-size: 40px;

}
.latest-description{ 
    color: rgba(39, 39, 39., 0.60);
    text-align: center;
    font-size: 18px;

}

.latest-deals input[type="email"] {
    padding: 23px 513px 22px 22px;
    border: none;
    border-radius: 8px;
    margin: 48px 0px 120px 285px;
    background: #fff;
}
.ses-baton{
    font-size: 20px;
    font-weight: 700;
    padding: 18px 30px;
    margin-left: 16px;
}
footer{
    text-align: center;
    margin-top: 128px;
    background-color: #111010;
}
.flower-shop-name{
    color: #fff;
    font-size: 48px;
    font-weight: 800px;
    padding-top: 128px;

}
.buton-color{ color: #E55473;

}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    padding-top: 25px;

}
.copyright{
    color: rgba(255, 255, 255, 0.40);
text-align: center;

font-size: 16px;

font-weight: 400;
padding-top: 32px;
padding-bottom: 128px;

}